* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #183a4a;
}

.number {
    width: 100px;
    height: 100px;
}

.bg_blue {
    background-color: #3d88ae;
}

.bg_green {
    background-color: #61d2a4;
}

.bg_yellow {
    background-color: #fed277;
}

.bg_red {
    background-color: #de5471;
}